@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

#viewport {
  height: 50vh;
}

#viewport-comments {
  max-height: 25vh;
  overflow: auto;
}

.img-preview {
  max-height: 100px;
  max-width: 100px;
}

.preview-scroll{
  max-height: 75vh;
  overflow: auto;
}

.img-viewport {
  max-height: 200px;
  max-width: 200px;
}

.action {
  cursor: pointer;
}

.intro {
  background-color: #DD4058;
  color: #F1FFFA;
  text-shadow: 1px 1px #454545;
}