@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

#viewport {
  height: 80vh;
}

.comment {
  border: 1px solid rebeccapurple;
}

#viewport-comments {
  max-height: 25vh;
  overflow: auto;
}

.img-preview {
  max-height: 100px;
  max-width: 100px;
}

.preview-scroll{
  max-height: 85vh;
  overflow: auto;
}

.img-viewport {
  max-height: 400px;
  max-width: 400px;
}

.action {
  cursor: pointer;
}

.intro {
  background-color: #454545;
  color: #F1FFFA;
}